php-apache:
    build: ./php-apache/
    container_name: php-apache-container
    restart: always
    links:
        - mysql
    ports:
        - 80:80
        - 443:443
    volumes_from:
        - app-data

mysql:
    build: ./mysql/
    container_name: mysql-container
    restart: always
    ports:
        - 3306:3306
    volumes_from:
        - mysql-data
    environment:
        MYSQL_ROOT_PASSWORD: password
        MYSQL_DATABASE: yellow
        MYSQL_USER: user
        MYSQL_PASSWORD: password

app-data:
    image: php:7.1-apache
    container_name: app-data
    volumes:
        - ./Yellow-TimeandLabor/:/websites/time/
        - ./php-apache/wfm.conf:/etc/apache2/sites-available/wfm.conf
    command: "true"

mysql-data:
    image: mysql:5.7
    container_name: mysql_data
    volumes:
        - /var/lib/mysql
        - /websites/time/www/phpmyadmin/config.inc.php
        - ./mysql/database/:/var/database/
    environment:
        MYSQL_ROOT_PASSWORD: password
        MYSQL_DATABASE: yellow
        MYSQL_USER: user
        MYSQL_PASSWORD: password
    command: "true"
